.ProductShareProd {
  position: relative;
  padding-top: 20px;
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #cccccc;
    opacity: 0.2;
  }

  &__Share {
    display: flex;
    align-items: center;
    margin-top: 25px;
    flex-wrap: wrap;
  }

  &__Text {
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 0.08em;
    color: #101010;
    text-transform: uppercase;
  }

  &__Item {
    margin-right: 32px;
  }

  &__AddWish {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 12px;
    color: #101010;
    text-transform: uppercase;
    background-color: #fff;
    border: 0;
    outline: 0;
    cursor: pointer;
    padding: 0;
  }

  &__WishImg {
    margin-right: 10px;

    &--wish {
      background-color: #ff0000;
    }
  }
}
