.OrderSuccess {
    &__Text {
        width: 80%;
        margin: 0 auto;
        font-size: 22px;
        font-weight: 800;
        color: #101010;
        text-align: center;
        text-transform: uppercase;
        @media screen and (max-width: 420px) {
            width: 90%;
            font-size: 4.5vw;
        }
    }

    &__SuccessCheckmark {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 65px;
        position: relative;
        margin: 20% auto 20px;
        padding: 32.5px 0;
        border: 3px solid #58ba87;
        box-shadow: 0 0 1px 0 #58ba87;
        border-radius: 50%;
        & > img {
            width: 50%;
            position: absolute;
        }
        @media screen and (max-width: 1024px) {
            width: 50px;
            margin-top: 30%;
            padding: 25px 0;
        }
        @media screen and (max-width: 726px) {
            margin-top: 40%;

        }

    }
}
