.CartUseBonuses {
    &__Amount {
        display: flex;
        justify-content: space-between;
        margin: 20px 0 10px 0;
        padding: 21px 12px;
        background: rgba(88, 186, 135, 0.2);
        color: #58ba87;
        border: 1px solid #58ba87;
        & > span {
            font-weight: 700;
        }
    }
}
