.Captcha {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    padding: 10% 5% 20% 5%;
    text-align: center;

    & h1 {
        width: 100%;
        margin-bottom: 2%;
    }

    &__Text {
        width: 100%;
        display: block;
        font-size: 14px;
        color: #969696;
        margin-bottom: 10%;
    }

    &__Modal {
        position: absolute;
        width: 35%;
        top: 15%;
        left: 32.5%;
        background-color: #fff;
        outline: none;
    }

    &__ModalOverlay {
        z-index: 500;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@media screen and (max-width: 1280px) {
    .Captcha {
        padding: 10% 5% 20% 5%;

        &__Modal {
            position: absolute;
            width: 70%;
            top: 15%;
            left: 15%;
            bottom: unset;
            background-color: #fff;
            outline: none;
        }
    }
}

@media screen and (max-width: 1024px) {
    .Captcha {
        &__Text {
            margin-bottom: 70%;
        }
    }
}

@media screen and (max-width: 768px) {
    .Captcha {
        padding: 10% 5% 20% 5%;

        &__Modal {
            position: absolute;
            width: 100%;
            top: 83px;
            left: 0;
            bottom: unset;
            background-color: #fff;
            outline: none;
        }
    }
}

@media screen and (max-width: 520px) {
    
    .Captcha {
        padding: 10% 24px;
        &__Modal {
            width: 100%;
            top: 74px;
            left: 0;
            bottom: 20%;
        }

        &__Text {
            margin-bottom: 20%;
            font-size: 12px;
        }
    }

}
