.Bloggers {
    display: flex;
    flex-flow: row wrap;
    &__Item {
        width: 25%;
        margin-bottom: 100px;
    }

    &__Container {
        padding-right: 30px;
    }

    &__ImgContainer {
        max-width: 100%;
        & img {
            max-width: 100%;
        }
    }

    &__Name {
        font-size: 15px;
        line-height: 19px;
        font-weight: 800;
        color: #bb2a36;
    }

    &__At {
        font-weight: 600;
        font-size: 13px;
        margin-bottom: 15px;
    }

    &__SubscriberCount {
        font-weight: 600;
        font-size: 13px;
        margin-bottom: 15px;
    }

    &__PostLink {
        padding: 8px 15px;
        font-weight: 800;
        font-size: 12px;
        background: #101010;
        text-align: center;

        & a {
            color: #fff;
            text-decoration: none;
        }
    }
}

@media only screen and (max-device-width: 1024px) {
    .Bloggers {
        &__Item {
            width: 100%;
            margin-bottom: 50px;
        }
        &__Container {
            padding-right: 0;
        }
        &__PostLink {
            width: 100%;
            padding: 8px 0;
        }
    }
}
