.CartProdItem {
    &__Wrap {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #101010;
        }
    }

    &__Item {
        list-style-type: none;
    }

    &__ImgWrap {
        width: 75px;
        position: relative;
        margin-right: 15px;
    }

    &__PrImg {
        width: 100%;
        height: 100%;
        min-height: 125px;
        object-fit: cover;
        object-position: center;
        display: none;

        &--loaded {
            display: block;
        }
    }

    &__LeftSide {
        display: flex;
    }

    &__Title {
        font-weight: 800;
        font-size: 15px;
        color: #101010;
        text-transform: uppercase;
        margin-bottom: 2px;
    }

    &__SmallInfo {
        font-size: 13px;
        color: #101010;
        text-transform: uppercase;
    }

    &__SmallInfSpan {
        margin: 0 10px;
    }

    &__Change {
        margin-left: 20px;
        text-decoration: underline;
        cursor: pointer;
    }

    &__Price {
        font-weight: 800;
        font-size: 15px;
        color: #101010;
        margin-bottom: 4px;
        text-align: right;
    }

    &__LastPrice {
        font-size: 15px;
        line-height: 18px;
        text-decoration-line: line-through;
        color: #101010;
        margin-bottom: 19px;
        text-align: right;
    }

    &__Del {
        & > span {
            display: inline-block;
            padding-top: 14px;
            padding-bottom: 25px;
            font-size: 13px;
            font-weight: 600;
            color: #101010;
            cursor: pointer;
        }
    }
}

@media only screen and (max-device-width: 1024px) {
    .CartProdItem {
        width: 100%;
        padding: 0;

        &__Wrap {
            padding: 30px 4% 0 4%;
        }

        &__ImgWrap {
            width: 30%;
            max-height: 150px;
            height: unset;
        }

        &__Inf {
            width: 70%;
        }

        &__Title {
            font-size: 12px;
        }

        &__SmallInfo {
            margin-top: 8px;
            font-weight: 500;
        }

        &__Price {
            position: absolute;
            right: 4%;
            bottom: 10%;
            font-size: 13px;
        }

        &__LastPrice {
            position: absolute;
            right: 4%;
            bottom: 0;
            margin-bottom: 0;
            font-size: 13px;
        }

        &__Del {
            text-align: right;
            & > span {
                padding-right: 4%;
            }
        }
    }
}
