.CartPopup {
    position: fixed;
    top: 57px;
    right: 0;
    max-height: 47rem;
    width: 502px;
    background-color: #fff;
    filter: drop-shadow(-4px 10px 10px rgba(0, 0, 0, 0.1));
    z-index: 5;

    &--SpecialBanner {
        top: 95px;
    }

    &__False {
        display: none;
    }

    &__Prods {
        background-color: #f8f6f5;
        max-height: 444px;
        overflow: hidden;
        overflow-y: scroll;
        padding: 40px 83px 0 50px;
        box-sizing: border-box;
    }

    &__Buttons {
        height: 120px;
    }

    &__Empty {
        height: 120px;
        font-size: 18px;
        color: #101010;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__ItemPhWrap {
        width: 100px;
        height: 134px;
        margin-right: 45px;
        position: relative;
    }

    &__ProdImg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: none;

        &--loaded {
            display: block;
        }
    }
    &__Item {
        position: relative;
        list-style: none;
    }

    &__Link {
        display: flex;
        cursor: pointer;
        margin-bottom: 64px;
        text-decoration: none;
    }

    &__ProdTitle {
        font-weight: 800;
        font-size: 12px;
        letter-spacing: 0.08em;
        color: #bb2a36;
        text-transform: uppercase;
        margin-bottom: 9px;
    }

    &__Info {
        font-weight: 500;
        font-size: 13px;

        color: #101010;
        margin-bottom: 9px;
    }

    &__Span {
        margin: 0 10px;
    }

    &__Price {
        font-weight: 800;
        font-size: 12px;
        letter-spacing: 0.08em;
        color: #101010;
    }

    &__Buttons {
        padding: 25px 49px 20px;
        box-sizing: border-box;
    }

    &__AllPrice {
        display: flex;
        justify-content: space-between;
        font-weight: 800;
        font-size: 12px;
        color: #101010;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    &__LinkToOrder {
        width: 100%;
        height: 40px;
        background: #58ba87;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.08em;
        color: #fff;
        text-decoration: none;
    }
}

@media screen and (max-width: 1024px) {
    .CartPopup {
        width: 100%;
        height: calc(100% - 42px);
        max-height: calc(100% - 42px);
        top: 42px;
        z-index: 50;

        &__Prods {
            height: calc(100% - 120px);
            max-height: unset;
            padding: 40px 4% 0;
        }

        &__Buttons {
            width: 100%;
            position: fixed;
            bottom: 0;
            background: #fff;
        }

        &__AddedToCart {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            position: fixed;
            left: 0;
            top: 45px;
            z-index: 21;
            background-color: #f8f6f5;
            &__Title {
                width: 100%;
                padding: 12px 16px;
                font-size: 20px;
                font-weight: 800;
            }
        }
        &__SuccessText {
            width: 100%;
            padding: 10px 0;
            text-align: center;
            background: green;
            color: #fff;
            font-size: 12px;
            font-weight: 800;
            letter-spacing: 0.08rem;
            text-transform: uppercase;
        }
    }
}
