.Promo {
    position: relative;
    margin-bottom: 40px;
    padding: 14px 0 18px 0;
    border-top: 1px solid #101010;
    border-bottom: 1px solid #101010;

    &__Loading {
        width: 100%;
        height: 100%;
        position: absolute;
        top: -7px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.5);
    }

    &__Title {
        margin-bottom: 22px;
        font-size: 13px;
    }

    &__Content {
        width: 100%;
        display: flex;
    }

    &__InputContainer {
        width: 100%;
        position: relative;
        display: flex;
        flex-flow: row wrap;
    }

    &__Error {
        position: absolute;
        top: 16px;
        color: #bb2a36;
    }

    &__Input {
        width: 100%;
        border: none;
        outline: none;
        &__Success {
            color: green;
        }
        &__Error {
            margin-bottom: 22px;
            color: #bb2a36;
        }
    }
    &__Submit {
        margin-left: 10px;
        padding: 0;
        font-weight: 800;
        outline: none;
        background: none;
        border: none;
        cursor: pointer;
    }
}
