@import "../../styles/vars.scss";

.BackgroundMainImg {
    &__ImgWrap {
        width: 100%;
        height: 100%;
        display: flex;
    }

    &__Mobile {
        display: none;
    }

    &__Img {
        display: none;
        width: 100%;
        object-fit: cover;
        object-position: center;

        &--loaded {
            display: block;
        }
    }

    &__Preload {
        width: 100%;
        height: 100%;
        background: #5182a3;
        opacity: 0.3;
    }
}

@media screen and (max-width: 768px) {
    .BackgroundMainImg {
        &__Img {
            object-position: left;
        }
    }
}

@media screen and (min-width: 601px) {
    .BackgroundMainImg {
        &__Mobile {
            display: none !important;
        }
    }
}

@media screen and (max-width: 600px) {
    .BackgroundMainImg {
        &__Desktop {
            display: none !important;
        }
        &__Mobile {
            display: flex !important;
        }

        &__Img {
            object-position: center;
        }
    }
}
