.OrderItem {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    margin: 16px 0;
    padding: 16px 2.5%;
    border: 1px solid #cccccc;
    &__Date {
        width: 25%;
        margin-right: 10%;
        font-size: 10px;
        font-weight: 600;
        color: #969696;
        letter-spacing: 0.08rem;
    }

    &__Amount {
        margin-bottom: 4px;
        font-size: 10px;
        font-weight: 600;
        color: #969696;
        letter-spacing: 0.08rem;
        &__Sum {
            font-size: 13px;
            color: #101010;
            letter-spacing: 0;
        }
    }

    &__IconContainer {
        position: absolute;
        right: 2.5%;
        top: 24px;
    }

    &__Chevron {
        font-size: 18px;
        cursor: pointer;
        transition-duration: 0.3s;
    }
}

.OrderProductList {
    width: 100%;
    margin-top: 32px;
}

.OrderProduct {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;

    &__Left {
        display: flex;
    }

    &__ImageContainer {
        width: 75px;
        height: 100px;
        position: relative;
        margin-right: 16px;
    }
    &__InfoContainer {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    &__Title {
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
    }
    &__Options {
        font-size: 13px;
        font-weight: 400;
    }

    &__Price {
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: 600;
    }
}

@media only screen and (max-device-width: 1024px) {
    .OrderProduct {
        position: relative;
        &__InfoContainer {
            justify-content: flex-start;
        }
        &__Title {
            font-size: 12px;
            margin-bottom: 10px;
        }
        &__Price {
            position: absolute;
            left: 91px;
            bottom: 24px;
            font-size: 13px;
        }
    }
}
