* {
    -webkit-locale: auto;
    white-space: normal;
}

body,
html,
input,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
    background-color: #fff;
    position: relative;
    font-size: 12px;
}

.Page__Wrap {
    position: relative;
    min-height: 30vh;
    @media screen and (min-width: 769px) {
        margin-top: calc(9.75rem + 29px);
    }
    @media screen and (max-width: 1024px) {
        margin-top: calc(3.5rem + 29px);
    }
}

.Maritel {
    &__Required {
        color: #bb2a36;
    }
    &__InputContainer {
        position: relative;
        flex-basis: 48.5%;
        margin-top: 16px;

        &__Small {
            display: flex;
            flex-flow: row wrap;
            flex-basis: 20%;
            margin-left: 2%;
        }

        & label {
            display: block;
            margin-bottom: 5px;
        }
        & input,
        .Maritel__Input {
            width: 100%;
            min-height: 37px;
            padding: 10px 0 10px 20px;
            border: 1px solid #969696;
            outline: none;
            box-sizing: border-box;
            border-radius: 2px;
            -webkit-appearance: none;
            background-color: #fff;
            &:focus {
                border: 1px solid #101010;
            }
            &.Maritel__InputError {
                border: 1px solid red;
                &:focus {
                    border: 1px solid red;
                }
            }
        }
    }

    &__SelectContainer {
        position: relative;
    }

    &__SelectArrow {
        height: calc(100% - 6px);
        display: flex;
        align-items: center;
        position: absolute;
        top: 3px;
        right: 1px;
        padding: 0 10px;
        background: white;
        cursor: pointer;

        & img {
            transition: 0.3s;
        }

        &--open {
            & img {
                transform: rotate(180deg);
            }
        }
    }

    &__Error {
        width: 100%;
        position: absolute;
        top: 100%;
        text-align: right;
        color: #bb2a36;
    }

    &__Modal {
        position: absolute;
        width: 35%;
        top: 10%;
        left: 32.5%;
        right: 32.5%;
        background-color: #fff;
        outline: none;
    }

    &__ModalOverlay {
        z-index: 500;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.Account {
    &__Greetings {
        font-weight: 800;
        font-size: 15px;
        color: #bb2a36;
        text-transform: uppercase;
    }

    &__PageTitle {
        padding: 24px 0 16px;
        font-size: 15px;
        font-weight: 800;
        text-transform: uppercase;
        border-bottom: 1px solid #101010;
        margin-bottom: 35px;
    }

    &__Content {
        position: relative;
        padding-bottom: 25px;
    }

    &__ContentLoading {
        position: absolute;
        top: -25px;
        display: flex;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        z-index: 1;
    }
}

@media only screen and (min-device-width: 1024px) {
    .hide-desktop {
        display: none !important;
    }
}

@media screen and (max-width: 1024px) {
    .hide-mobile--tablets {
        display: none !important;
    }

    .Maritel {
        &__Modal {
            position: absolute;
            width: 90%;
            top: 120px;
            left: 5%;
            background-color: #fff;
            outline: none;
        }

        &__ModalOverlay {
            z-index: 500;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: unset;
        }
    }
}

@media only screen and (max-device-width: 480px) {
    .hide-mobile {
        display: none !important;
    }

    .Maritel {
        &__Modal {
            position: absolute;
            width: 100%;
            max-width: 100%;
            top: 45px;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #fff;
            outline: none;
        }

        &__ModalOverlay {
            z-index: 500;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: unset;
        }
    }
}

.cover,
.full__cover,
.search__cover {
    position: absolute;
    top: 3.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #101010;
    opacity: 0.3;
    z-index: 3;
}

.search__cover {
    top: 7rem;
    opacity: 0.4;
}

.full__cover {
    top: 0;
    z-index: 20;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-button {
    height: 0;
    background-color: #a8a7a7;
}

::-webkit-scrollbar-track-piece {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #a6a6a6;
}

.no-scroll {
    overflow: hidden;
}
