@import "../../styles/vars.scss";

.SubscribeByMail {
    &__Invite {
        display: flex;
        padding: 2rem 0;
        justify-content: center;

        @media screen and (max-width: 1080px) {
            flex-direction: column;
            align-items: center;
            padding: 4.5rem 0;
        }

        @media screen and (max-width: 450px) {
            padding: 40px 16px 50px;
        }
    }

    &__Info {
        margin-right: 5rem;

        @media screen and (max-width: 1080px) {
            margin-right: 0;
            text-align: center;
            margin-bottom: 2rem;
        }

        @media screen and (max-width: 450px) {
            text-align: start;
        }
    }

    &__Title {
        color: $main-color;
        letter-spacing: 0.08em;
        font-size: 26px;
        font-weight: 800;
        margin-bottom: 15px;

        @media screen and (max-width: 1080px) {
            font-size: 22px;
        }
    }

    &__Discount {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.08em;
        color: $main-color;
        opacity: 0.8;
    }

    &__InputInvite {
        width: 25.75rem;
        height: 40px;
        box-sizing: border-box;
        border: 1px solid #cccccc;
        font-size: 14px;
        color: $main-color;
        padding-left: 10px;
        outline: 0;
        transition: all 0.3s;

        &--success {
            border: 1px solid rgb(60, 209, 60);
        }

        &::placeholder {
            color: #969696;
            opacity: 0.8;
        }

        &--error {
            border: 1px solid #bb2a36;
        }

        @media screen and (max-width: 1080px) {
            width: 19.25rem;
        }
    }

    &__FormWrap {
        height: 40px;
        display: flex;
        align-items: center;
        margin-bottom: 11px;
    }

    &__Form {
        @media screen and (max-width: 450px) {
            width: 100%;
        }
    }

    &__ButtonInvite {
        background: $main-color;
        font-weight: 800;
        font-size: 13px;
        color: #ffffff;
        border: 1px solid $main-color;
        box-sizing: border-box;
        outline: 0;
        height: 40px;
        padding: 0 38px;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            background-color: #fff;
            color: $main-color;
        }

        @media screen and (max-width: 1080px) {
            font-size: 10px;
            padding: 0 14px;
        }

        &:active {
            border: 1px solid #bb2a36;
        }

        &:disabled {
            opacity: 0.4;
            cursor: no-drop;
        }
    }

    &__Privacy {
        display: flex;

        @media screen and (max-width: 1080px) {
            justify-content: center;
        }

        @media screen and (max-width: 450px) {
            justify-content: flex-start;
        }
    }

    &__InviteCheckbox {
        margin-right: 5px;
        cursor: pointer;
    }

    &__PrivacyText {
        font-weight: 500;
        font-size: 1rem;
        color: $main-color;
        opacity: 0.8;
        transition: 0.3s;
        &--error {
            color: #bb2a36;
        }
    }

    &__Checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 17px;
        height: 17px;
        border: 1px solid #101010;
        border-radius: 3px;
        opacity: 0.8;
        &--error {
            border: 1px solid #bb2a36;
        }
    }
}
