.BonusesPage {
    &__Container {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    &__Accumulated {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }

    &__Amount {
        font-weight: 800;
        font-size: 40px;
        line-height: 48px;
    }

    &__Currency {
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
    }

    &__Info {
        max-width: 35%;
        margin: 0 12%;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
    }
}

@media screen and (max-width: 1024px) {
    .BonusesPage {
        &__Container {
            justify-content: center;
        }

        &__Info {
            width: 40%;
            max-width: 40%;
            margin: 16px 30% 50px;
            text-align: center;
        }
    }
}

@media screen and (max-width: 768px) {
    .BonusesPage {
        &__Info {
            width: 60%;
            max-width: 60%;
            margin: 16px 20% 50px;
        }
    }
}

@media screen and (max-width: 520px) {
    .BonusesPage {
        &__Info {
            width: 100%;
            max-width: 100%;
            margin: 16px 16px 50px 16px;
        }
    }
}
