.CartProdItemSelect {
    position: relative;

    &__Icon {
        width: 12px;
        position: absolute;
        right: 12px;
        top: 16px;
    }
}
@media only screen and (max-device-width: 1024px) {
    .CartProdItemSelect {
        position: absolute;
        left: 34%;
        bottom: 0;
    }
}
