.CartPage {
    display: flex;
    flex-flow: row wrap;
    max-width: 1600px;
    margin: calc(9.75rem + 29px) auto 35px auto;
    padding: 42px 2.5rem 0;

    &__Required {
        color: #bb2a36;
    }

    &__PaymentHint {
        position: absolute;
        top: 100%;
        color: #969696;
    }

    &__RegisterOrder {
        // max-width: 800px;
        flex-basis: 55%;
    }

    &__PaymentMethodContainer {
        flex-basis: 55%;
    }

    &__FormContainer {
        display: flex;
        flex-basis: 55%;
        flex-flow: row wrap;
    }

    &__FormContainer > .Maritel__InputContainer:nth-child(2n - 1) {
        margin-right: 1.5%;
    }

    &__FormContainer > .Maritel__InputContainer:nth-child(2n) {
        margin-left: 1.5%;
    }

    &__CourierDelivery {
        display: flex;
    }

    &__PaymentServiceContainer {
        margin-bottom: 1.5%;
        margin-left: 2%;
    }

    &__Hint {
        font-weight: 500;
        font-size: 12px;
        color: #101010;
        opacity: 0.8;
        padding-bottom: 10px;
    }

    &__InfoTitle {
        display: flex;
        align-items: flex-end;
        margin-bottom: 19px;
    }

    &__TitlePage {
        font-weight: 800;
        font-size: 36px;
        color: #101010;
        margin-right: 20px;
        text-transform: uppercase;
    }

    &__CountProds {
        font-weight: 800;
        font-size: 15px;
        color: #101010;
        padding-bottom: 5px;
    }

    &__StepTitle {
        flex-basis: 100%;
        margin: 1% 0;
        font-size: 15px;
        font-weight: 800;
        color: #101010;
    }

    &__ShippingMethodContainer {
        display: flex;
        flex-flow: row wrap;
        width: 55%;
        & > div {
            width: 100%;
            margin-bottom: 2%;
        }
    }

    &__CityName {
        color: #bb2a36;
    }
    &__EmptyCart {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        font-weight: 600;
    }

    &__RadioContainer {
        display: flex;
        height: 20px;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        & input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            &:checked ~ .checkmark {
                &:after {
                    display: block;
                }
            }
        }
    }

    &__RadioWithHint {
        margin-bottom: 2.5%;
    }
}

.Maritel__InputContainer__Street {
    flex-basis: 50%;
    margin-left: 6%;
}

.checkmark {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.checkmark:after {
    content: "";
    display: none;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 20%;
    left: 20%;
    padding: 6px;
    background-color: #101010;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #101010;
}

@media only screen and (max-width: 1024px) {
    .CartPage {
        width: 100%;
        margin: 75px 0 0 0;
        padding: 0;

        &__TitlePage {
            font-size: 20px;
        }

        &__CountProds {
            padding-bottom: 3px;
            font-size: 13px;
            line-height: 16px;
        }

        &__InfoTitle {
            margin-bottom: 15px;
        }

        &__RegisterOrder,
        &__FormContainer,
        &__ShippingMethodContainer,
        &__PaymentMethodContainer {
            flex-basis: 100%;
        }

        &__FormContainer,
        &__StepTitle,
        &__InfoTitle {
            padding: 0 16px;
        }
        &__RadioContainer {
            margin: 0 16px;
        }

        &__CourierDelivery {
            display: flex;
            flex-flow: row wrap;
        }

        .Maritel__InputContainer {
            flex-basis: 100%;
            margin: 1% 0 !important;
        }

        &__StepTitle {
            margin: 16px 0;
        }
        &__ShippingMethodItem .Maritel__InputContainer {
            padding: 10px 4%;
        }
        &__PaymentServiceContainer {
            margin-left: 4%;
        }
        &__RadioWithHint {
            margin-bottom: 3%;
        }
    }

    .Maritel__InputContainer__Street {
        flex-basis: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 480px) {
    .CartPage {
        &__RadioWithHint {
            margin-bottom: 11%;
        }
        &__PaymentServiceContainer {
            margin-left: 8.5%;
        }
    }
}
