.CartPopup__Delete {
    position: absolute;
    top: 102%;
    left: 12px;
    color: #101010;
    cursor: pointer;
    font-size: 13px;
    line-height: 16px;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        color: #bb2a36;
    }
}

@media only screen and (max-device-width: 480px) {
    .CartPopup__Delete {
        left: 6%;
    }
}
