.SizesTable {
    width: 100.12%;
    font-size: 15px;
    font-weight: 800;

    &__Modal {
        bottom: unset !important;
    }

    &__Close {
        position: absolute;
        right: 10px;
        bottom: 98%;
        font-size: 55px;
        font-weight: 100;
        color: #fff;
        cursor: pointer;
        transition: 0.2s;
        text-shadow: 0px 1px rgba(255, 255, 255, 0.5);
        &:hover {
            color: #bb2a36;
        }
    }

    & th {
        padding: 10px 20px;
        text-align: left;
        background: #000;
        color: #fff;
    }

    & tr {
        &:nth-child(2n -1) {
            background: rgba(16, 16, 16, 0.03);
        }

        &:nth-child(2n) {
            background: rgba(16, 16, 16, 0.1);
        }
    }

    & td {
        padding: 10px 20px;
    }
}

@media only screen and (max-width: 1024px) {
    .SizesTable {
        max-height: 100%;
        overflow-y: scroll;
        font-size: 2.5vw;

        &__Title {
            display: flex;
            justify-content: space-between;
            padding: 13px 16px;
            font-size: 3.3vw;
            font-weight: 800;
            line-height: 24px;
            background: rgba(16, 16, 16, 0.1);
        }

        &__Close {
            font-weight: 400;
            font-size: 65px;
            color: #101010;
        }

        & td,
        & th {
            width: 25%;
            padding: 8px 16px;
        }

        & th {
            font-size: 2.7vw;
        }
    }
}

@media only screen and (max-width: 480px) {
    .SizesTable {
        max-height: 100%;
        overflow-y: scroll;
        font-size: 3.2vw;

        &__Title {
            display: flex;
            justify-content: space-between;
            padding: 13px 16px;
            font-size: 5.3vw;
            font-weight: 800;
            line-height: 24px;
            background: rgba(16, 16, 16, 0.1);
        }

        &__CloseIcon {
            font-weight: 400;
            font-size: 45px;
        }

        & td,
        & th {
            width: 25%;
            padding: 8px 16px;
        }

        & th {
            font-size: 3.2vw;
        }
    }
}
