@import "../../../styles/vars.scss";

.ProductPageRelated {
    &__RelatedList {
        margin-top: 2rem;
        display: flex;
        flex-flow: row wrap;
        list-style-type: none;
    }

    &__Related {
        margin-bottom: 25px;
    }

    &__RelatedItem {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-right: 16px;
        margin-top: 5px;
        cursor: pointer;
        border-radius: 50%;
        &::after {
            transition: all 0.3s;
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            border: 2px solid #fff;
            box-sizing: border-box;
            border-radius: 50%;
        }

        &:hover::after {
            border: 2px solid #969696;
        }


        &--choosen {
            box-sizing: border-box;
            position: relative;
            &:after {
                display: none;
            }
        }
    }

    &__RelLink {
        position: absolute;
        width: 30px;
        height: 30px;
        z-index: 2;
        border: 0.5px solid #ccc;
        border-radius: 50%;
    }

    &__Gasket {
        position: absolute;
        background-color: #fff;
        width: 35px;
        height: 35px;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }

    &__RelatedImg {
        border-radius: 50%;
        width: 100%;
        height: 100%;

        &--top {
            position: absolute;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
