.ProductPageMissingProduct {
    padding: 12%;

    &__Close {
        position: absolute;
        top: 10px;
        right: 16px;
        font-size: 55px;
        font-weight: 100;
        color: #969696;
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            color: #101010;
        }
    }

    &__Title {
        font-size: 15px;
        font-weight: 800;
        text-transform: uppercase;
        text-align: center;
    }

    &__Info {
        font-size: 12px;
        font-weight: 500;
        text-align: center;
    }

    & .Maritel__InputContainer {
        margin: 16px 0;
    }

    &__Link {
        color: #bb2a36;
        text-decoration: none;
    }

    & button {
        width: 100%;
        margin: 16px 0;
        font-size: 12px;
    }

    &__SuccessCheckmark {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%;
        position: relative;
        margin: 0 auto;
        padding: 12.5% 0;
        border: 3px solid #58ba87;
        box-shadow: 0 0 1px 0 #58ba87;
        border-radius: 50%;
        & > img {
            width: 50%;
            position: absolute;
        }
    }
}

@media only screen and (max-device-width: 480px) {
    .ProductPageMissingProduct {
        padding: 6% 16px 4% 16px;

        &__Success {
            margin-top: 50%;
        }

        &__Close {
            font-size: 40px;
        }

        & button {
            margin: 24px 0;
        }
    }
}
