@import "../../styles/vars.scss";

.HomePage {
    &__BackgroundWrap {
        position: relative;
        overflow: hidden;
        height: 500px;
        margin-bottom: 35px;

        @media screen and (max-width: 1024px) {
            height: 38vh;
            max-height: 470px;
            margin-bottom: 30px;
        }

        @media screen and (max-width: 768px) {
            height: 36vh;
            max-height: 335px;
            margin-bottom: 25px;
        }

        @media screen and (max-width: 520px) {
            height: 520px;
            max-height: unset;
            margin-bottom: 15px;
        }
    }

    &__List {
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        bottom: 75px;
        list-style-type: none;
        max-height: 450px;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            bottom: 53px;
            padding-left: 50px;
        }
    }

    &__Link {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 18px;
        color: #ffffff;
        position: relative;
        padding-bottom: 5px;

        &::after {
            position: absolute;
            content: "";
            width: 46px;
            height: 5px;
            background-color: #fff;
            left: 0;
            bottom: -3px;
            transition: all 0.3s;
        }

        &:hover::after {
            width: 100%;
        }
    }

    &__Item {
        margin-right: 108px;
        margin-bottom: -60px;

        &:last-child {
            margin-right: 0;
        }

        @media screen and (max-width: 1150px) {
            margin-right: 55px;
        }

        @media screen and (max-width: 768px) {
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
