@import "../../../styles/vars.scss";

.ProductPageInfoCard {
  width: 100%;
  position: relative;
  padding-top: 19px;
  margin-bottom: 18px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background: #cccccc;
    opacity: 0.2;
  }
  &__Title {
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 0.08em;
    color: $main-color;
    box-sizing: border-box;
    padding-right: 8px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s;
  }

  &__Arrow {
    position: relative;
    background-color: $main-color;
    width: 1rem;
    height: 2px;

    &::after {
      transition: all 0.3s;
      position: absolute;
      content: "";
      background-color: $main-color;
      width: 1rem;
      height: 2px;
      transform: rotate(0);
    }

    &--close {
      position: relative;
      &::after {
        transform: rotate(90deg);
      }
    }
  }

  &__Text {
    font-weight: 500;
    font-size: 1rem;
    color: $main-color;
    position: absolute;
    top: 45px;
    opacity: 1;
    transition: transform 0.3s;
  }
}
