.CredentialsForm {
    &__PasswordsContainer {
        display: flex;

        & .Maritel__InputContainer:nth-child(1) {
            margin-right: 3%;
        }
    }
    &__Subscribe {
        display: flex;
        & > span {
            margin-top: 10px;
            cursor: pointer;
            user-select: none;
            color: #969696;
        }
    }
}

@media only screen and (max-device-width: 1024px) {
    .CredentialsForm {
        &__PasswordsContainer {
            flex-flow: row wrap;
            & .Maritel__InputContainer:nth-child(1) {
                margin: 0;
            }
            & .Maritel__InputContainer {
                flex-basis: 100%;
            }
        }
    }
}
